@import url('font.css');

@theme {
	--breakpoint-sm: 567px;
}

:root {
	--primary-color: #D61D35;
	--gray-color: #2D1F21;
}

html {
	scroll-behavior: smooth;
}
  
body {
	background: white;
	font-family: 'General Sans', sans-serif;
}
  
h1, h2, h3, h4, h5, h6{
	font-family: 'Kalnia', sans-serif;
}

.font-vietnam {
	font-family: 'Be Vietnam Pro', sans-serif;
}

.container {
	max-width: 1740px;
	padding: 0px 15px;
	margin: auto;
	/* overflow: hidden; */
}

li{
	list-style-type: none;
}

input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
  	-moz-appearance: textfield;
}
  
input:focus-visible{
	outline: none;
}

.fixed-header {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 999;
	animation: sticky 0.4s ease-out forwards;
	-webkit-animation: sticky 0.6s ease-out forwards;
	box-shadow: 0 4px 10px rgba(0, 0, 0, 0.06);
}

@keyframes sticky {
	0% {
		top: -200px;
	}
	100% {
		top: 0;
	}
}

.swiper-pagination-bullet{
	background-color: white;
	opacity: 0.5;
}

.swiper-pagination-bullet.swiper-pagination-bullet-active,
.testimonialSwiper .swiper-pagination-bullet.swiper-pagination-bullet-active,
.recently-viewed .swiper-pagination .swiper-pagination-bullet.swiper-pagination-bullet-active{
	background-color: var(--primary-color);
	opacity: 1;
}

@media (min-width: 1280px) {
    .group:hover .dropdown-icon {
      	transform: rotate(180deg);
    }
}

.line-clamp-2 {
	display: -webkit-box;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
	text-overflow: ellipsis;
	line-height: 1.4em;
	max-height: 2.8em;
}

.testimonialSwiper .swiper-slide {
    transition: all 0.3s ease;
    transform: scale(0.9);
	display: flex;
	opacity: 0.5;
}

.testimonialSwiper .swiper-slide.active-slide {
    background-color: #AF0B0B;
    transform: scale(1);
}

.testimonialSwiper .swiper-slide.active-slide h4,
.testimonialSwiper .swiper-slide.active-slide p {
    color: white;
}

.testimonialSwiper.swiper{
	overflow: visible;
}

.testimonialSwiper .swiper-slide-prev ,
.testimonialSwiper .swiper-slide-active ,
.testimonialSwiper .swiper-slide-next{
	opacity: 1;
} 

.testimonialSwiper .swiper-pagination{
	bottom: -60px;
}

.testimonialSwiper .swiper-pagination-bullet,
.recently-viewed .swiper-pagination .swiper-pagination-bullet{
	background-color: black;
}

.custom-scroll::-webkit-scrollbar {
    width: 2px;
}

.custom-scroll::-webkit-scrollbar-track {
    background: transparent;
}

.custom-scroll::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 10px;
}

.loader {
    border-top-color: var(--primary-color, #dc2626);
    animation: spin 1s linear infinite;
}

@keyframes spin {
    to {
        transform: rotate(360deg);
    }
}

.accordion-content {
      transition: max-height 0.4s ease;
}

.footer-bullet-list {
  list-style-image: url('../images/icons/separator.svg');
  padding-left: 21px;
}

.filter-color.active{
	border-color: #CECECE;
}


.group:hover .filter-checkbox {
    border-color: var(--primary-color);
}

.filter-checkbox {
    appearance: none;
    -webkit-appearance: none;
    height: 1.1rem;
    width: 1.1rem;
    border: 2px solid #333;
    border-radius: 0.25rem;
    cursor: pointer;
    display: inline-block;
    position: relative;
}

.filter-checkbox:checked::after {
    content: '✔';
    color: white;
    font-size: 12px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.filter-checkbox:checked {
    background-color: #000;
    border-color: #000;
}

.group:hover .filter-checkbox:checked {
	background-color: var(--primary-color);
}

.added_to_cart.wc-forward{
	display:none !important;
}

.woocommerce a.remove{
	display: inline;
}

.woocommerce a.remove,.woocommerce a.remove:hover{
	color: #767676 !important;
}

.woocommerce #cartLoader .loader::before{
	background: none;
}


.woocommerce form.login, .woocommerce form.registe{
	padding: 32px !important;
}


@media (max-width: 640px) {
	.woocommerce form.login, .woocommerce form.registe{
		padding: 24px !important;
	}
}


.tab-link.active {
    color: #000;
}

.woocommerce-message {
    border-top-color: #35ae1b;
	line-height: 36px;
}

.woocommerce-message::before {
    color: #35ae1b;
}

.decorated-heading-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.decorated-heading-wrapper::before{
  content: "";
  background-image: url('../images/icons/decorative-line.svg');
  background-repeat: repeat-x;
  background-position: center;
  height: 53px;
  width: 100%;
  position: absolute;
  z-index: -1;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  right: 100%;
  margin-right: 1rem;
}

@media (max-width: 768px) {
	.decorated-heading-wrapper::before{
		display: none;
	}
}	

.aws-search-result .aws_result_title{
    color: #800000;
    font-size: 15px;
}

.aws-search-result .aws_result_price{
    font-size: 14px;
}

.woocommerce ul.order_details li{
    border-right: none;
    margin-right: 0px;
    padding-right: 0px;
}


.review-lightbox {
  position: fixed;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9998;
  display: none;
}

.review-lightbox.show {
  display: flex;
}

.lightbox-inner {
  position: relative;
  padding-left: 1rem;
  padding-right: 1rem;
}

#lightboxContent {
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
  max-height: 80vh;
}

#lightboxContent img,
#lightboxContent video {
  max-width: 100%;
  max-height: 80vh;
  border-radius: 0.5rem;
}

.close-btn {
  position: absolute;
  top: -32px;
  right: 0;
  color: white;
  font-size: 1.875rem; 
  font-weight: bold;
  cursor: pointer;
  background: none;
  border: none;
}


.wpcf7-submit{
    background-color: var(--primary-color);
}

.wpcf7-submit:hover{
    background-color: black;
}

@media (max-width: 425px) {
    .xs-grid-cols-1 {
        grid-template-columns: repeat(1, minmax(0, 1fr));
    }
}	

.footer-bullet-list li{
    padding-left: 10px;
}