
@theme {
	--breakpoint-sm: 567px;
}

:root {
	--primary-color: #D61D35;
	--gray-color: #2D1F21;
}

html {
	scroll-behavior: smooth;
}
  
body {
	background: white;
	font-family: 'General Sans', sans-serif;
}
  
h1, h2, h3, h4, h5, h6{
	font-family: 'Kalnia', sans-serif;
}

.font-vietnam {
	font-family: 'Be Vietnam Pro', sans-serif;
}

.container {
	max-width: 1740px;
	padding: 0px 15px;
	margin: auto;
	/* overflow: hidden; */
}

li{
	list-style-type: none;
}

input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
  	-moz-appearance: textfield;
}
  
input:focus-visible{
	outline: none;
}

.fixed-header {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 999;
	animation: sticky 0.4s ease-out forwards;
	-webkit-animation: sticky 0.6s ease-out forwards;
	box-shadow: 0 4px 10px rgba(0, 0, 0, 0.06);
}

@keyframes sticky {
	0% {
		top: -200px;
	}
	100% {
		top: 0;
	}
}

.swiper-pagination-bullet{
	background-color: white;
	opacity: 0.5;
}

.swiper-pagination-bullet.swiper-pagination-bullet-active,
.testimonialSwiper .swiper-pagination-bullet.swiper-pagination-bullet-active,
.recently-viewed .swiper-pagination .swiper-pagination-bullet.swiper-pagination-bullet-active{
	background-color: var(--primary-color);
	opacity: 1;
}

.rotate-180 {
  transform: rotate(180deg);
}

@media (min-width: 1280px) {
    .group:hover .dropdown-icon {
      	transform: rotate(180deg);
    }
}

.line-clamp-2 {
	display: -webkit-box;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
	text-overflow: ellipsis;
	line-height: 1.4em;
	max-height: 2.8em;
}

.testimonialSwiper .swiper-slide {
    transition: all 0.3s ease;
    transform: scale(0.9);
	display: flex;
	opacity: 0.5;
}

.testimonialSwiper .swiper-slide.active-slide {
    background-color: #AF0B0B;
    transform: scale(1);
}

.testimonialSwiper .swiper-slide.active-slide h4,
.testimonialSwiper .swiper-slide.active-slide p {
    color: white;
}

.testimonialSwiper.swiper{
	overflow: visible;
}

.testimonialSwiper .swiper-slide-prev ,
.testimonialSwiper .swiper-slide-active ,
.testimonialSwiper .swiper-slide-next{
	opacity: 1;
} 

.testimonialSwiper .swiper-pagination{
	bottom: -60px;
}

.testimonialSwiper .swiper-pagination-bullet,
.recently-viewed .swiper-pagination .swiper-pagination-bullet{
	background-color: black;
}

.custom-scroll::-webkit-scrollbar {
    width: 2px;
}

.custom-scroll::-webkit-scrollbar-track {
    background: transparent;
}

.custom-scroll::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 10px;
}

.loader {
    border-top-color: var(--primary-color, #dc2626);
    animation: spin 1s linear infinite;
}

@keyframes spin {
    to {
        transform: rotate(360deg);
    }
}

.accordion-content {
      transition: max-height 0.4s ease;
}

.footer-bullet-list {
  list-style-image: url('../images/icons/separator.svg');
  padding-left: 21px;
}

.filter-color.active{
	border-color: #CECECE;
}
