
@theme {
	--breakpoint-sm: 567px;
}

:root {
	--primary-color: #0bcb45;
	--text-color: #1A1A1A;
	--gray-color: #4A4A4A;
}

html {
	scroll-behavior: smooth;
}
  
body {
	background: white;
	font-family: 'Satoshi', sans-serif;
}
  
.container {
	max-width: 1700px;
	padding: 0px 15px;
	margin: auto;
}
  
p {
	font-family: 'DM Sans', sans-serif;
}

li{
	list-style-type: none;
}

input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
  	-moz-appearance: textfield;
}
  
input:focus-visible{
	outline: none;
}

a{
	text-decoration: none;
}

.lato-fontfamily{
	font-family: 'Lato', sans-serif;
}

.before-icon::before {
    content: "";
	position: absolute;
    background: 0 0;
    border: 6px solid transparent;
    z-index: 1000001;
	border-bottom-color: #383838;
	margin-bottom: -11px;
    left: calc(50% - 6px);
    transform: translateY(20px);
    visibility: hidden;
    opacity: 0;
    transition: .3s
}

.before-icon:hover .social-title,
.before-icon:hover:before {
	transform: translateY(15px);
	visibility: visible;
    opacity: 1;
    transition-delay: .1s;
}

.before-icon:hover .social-title{
	transform: translateY(-1px);
}

.hero-slider .slick-dots{
	bottom: 25px;
}

.slick-dots li button:before{
	font-size: 15px;
	color: rgb(65, 65, 65);
	opacity: .50;
}

.slick-dots li.slick-active button:before{
	color: rgb(0, 0, 0);
	opacity: 1;
}

.slick-dots{
	left: 0;
}

.hero-slider .slick-next{
	right: 50px;
}

.hero-slider .slick-prev{
	left: 25px;
	z-index: 99;
}

.hero-slider .slick-prev:before, .hero-slider .slick-next:before{
	font-size: 45px;
}

.quickview-slider .slick-next{
	right: 20px;
}

.quickview-slider .slick-prev{
	left: 12px;
	z-index: 99;
}

.quickview-slider .slick-prev:before, .quickview-slider .slick-next:before{
	font-size: 30px;
	color: black;
}

.slick-dotted.slick-slider{
	margin-bottom: 0;
}

.fixed-header {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 999;
	animation: sticky 0.4s ease-out forwards;
	-webkit-animation: sticky 0.6s ease-out forwards;
	box-shadow: 0 4px 10px rgba(0, 0, 0, 0.06);
}

@keyframes sticky {
	0% {
		top: -200px;
	}
	100% {
		top: 0;
	}
}

.tooltip-btn {
  position: relative;
}

.tooltip-btn .tooltip-text {
  position: absolute;
  right: 100%;
  bottom: 50%;
  margin-bottom: -14px;
  background: #383838;
  color: #fff;
  padding: 8px 10px;
  font-size: 12px;
  line-height: 12px;
  white-space: nowrap;
  border-radius: 3px;

  visibility: hidden;
  opacity: 0;
  pointer-events: none;
  z-index: 1000000;

  transform: translate3d(0, 0, 0);
  transition: opacity 0.3s, visibility 0.3s, transform 0.3s;
}

.tooltip-btn:hover .tooltip-text {
  visibility: visible;
  opacity: 1;
  transform: translateX(-8px);
  transition-delay: 0.1s;
}

.tooltip-btn::before {
	content: '';
	position: absolute;
	right: 116%;
    TOP: 50%;
	transform: translateY(-50%);
	border: 6px solid transparent;
	border-left-color: #383838;
	margin-right: -11px;
    margin-bottom: -6px;
	visibility: hidden;
	opacity: 0;
	transition: opacity 0.3s;
}

.tooltip-btn:hover::before {
	visibility: visible;
	opacity: 1;
	transition-delay: 0.1s;
}

@media (max-width: 768px) {
	.hero-slider .slick-prev:before, .hero-slider .slick-next:before{
		font-size: 30px;
	}	
	.hero-slider .slick-dots{
		bottom: 5px;
	}
	.hero-slider .slick-dots li button:before{
		font-size: 10px;
	}
}

@media (max-width: 639px) {
	.collection-grid{
		grid-template-columns: repeat(2, minmax(0, 1fr));
	}
}

@media (max-width: 520px) {
	.hero-slider .slick-prev:before, .hero-slider .slick-next:before{
		font-size: 25px;
	}
	.hero-slider.slick-next{
		right: 30px;
	}
	.hero-slider .slick-prev{
		left: 15px;
	}	
	
}

@media (max-width: 399px) {
	.collection-grid{
		grid-template-columns: repeat(1, minmax(0, 1fr));
	}
	
}



